
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}
.presentation{
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}

.presentation img{
    height: 250px;
    border-radius: 100%;
    filter: drop-shadow(9px 0px 0px #f03f86);
    
}

.presentation .profileDescription{
    margin: 50px 0px 0px;
    padding: 0px 10px;
    height: auto;

}

.presentation .profileDescription span{ 
    color: #C32865;
}

.presentation .profileDescription p{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    
    }

.presentation .profileDescription h1{
    color: #000;
    font-size: 2.4rem;    
    font-weight: 500;
    margin: 24px 0px;
    
}

.presentation .profileDescription .smallBio{
    color: #5F6F81;
    
    
}

.presentation .socialResume {
    margin: 30px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation .socialResume .resume-link {
    
    background-color: #C32865;
    text-decoration: none;
    border-radius: 40px;
    width: 100px;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.presentation .socialResume .resume-link a{

    text-decoration: none;
    color: #fff;
    
}


.presentation .social-list{
    list-style: none;
    padding: 30px 0px 0px;
    

}

.presentation .social-list ul{
}

.presentation .social-list li {
    
    display: inline-block;
    margin: 0px 10px;
}

.presentation .social-list li a{
    width: 42px;
    height: 42px;
    padding: 0px 0px;
    background-color: white;
    border-radius: 6px;
    color: #C32865;
    border: 1px solid #eee;    
    box-shadow: 0px 4px 6px rgb(134 151 168 / 10%);
    transition: all 0.3s ease-in;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}


@media (min-width: 1024px){ 
    .presentation{
        display: flex;
        flex-direction: row;
    }

    .presentation .profile-img-container img{
        width: 350px;
        height: 350px;
    }

    .presentation .profile-img-container, .profileDescription{
        flex: 0 0 50%;
        justify-content: center;
        width: 100%;
        position: relative;


    }


    .presentation .profileDescription p,h1{
        text-align: left;

    }

    .presentation .profileDescription h1{
        font-size: 40px;
    }

    

    .presentation .profileDescription .socialResume{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .presentation .profileDescription .socialResume .social-list{
        padding: 0;
        margin-left: 50px;
    }
    
}
